@model IEnumerable<firstMVCPoject.Models.CustomerBk>

@{
    ViewData["Title"] = "GetAllCustomers";
}

<h1>GetAllCustomers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cemail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ConfirmPassword)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Csalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cemail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.ConfirmPassword)
            </td> *@
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
